<footer class="footer bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="year text-center p-3">
        © <%- year %> Copyright:
            <a href="www.mercadopago.com.pe">
                <%- title %>
            </a>
    </div>
    <!-- Copyright -->
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="https://www.mercadopago.com/v2/security.js" view="<%- codeSec %>"></script>