<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./partials/header.ejs") %>
</head>

<body>
    <%- include ("./partials/navbar.ejs") %>
    <div class="content">
        <h1>asa</h1>
    </div>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>